@import url('https://fonts.googleapis.com/css?family=Suez+One|Miriam+Libre:400,700');

body {
	font-family: Miriam Libre, sans-serif;
	height: 100%;
	padding-bottom: 50px;
}

h1, h2, h3, h4 {
	font-family: Suez One, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 28px;
}

#logo {
	font-size: 3em;
}

#quiz {
	display: flex;
	align-items: baseline;
}

#quiz p {
	background: #555;
	border-radius: 5px;
	color: #FFF;
	margin: 0 1em;
	padding: 0.5em 1em;
}

.panel-title span {
	border-radius: 5px;
	font-family: Miriam Libre, sans-serif;
	float: right;
	font-size: 0.75em;
	padding: 0.5em;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding: 10px;
	background: white;
	text-align: center;
}
